<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

<head>
	<title>Categories</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Edit Category</h1>
	<div>
		<form th:object="${category}" th:action="@{/savecategory}" action="#" method="post">
			<label for="categoryid"></label> <input type="hidden" id="categoryid" th:field="*{categoryid}" />
			<label for="categoryname">Name</label>
			<input type="text" id="categoryname" th:field="*{categoryname}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<input type="submit" value="Save Category" class="btn btn-success"></input>
		</form>
		<a href="/categorylist" class="btn btn-secondary">Return</a>
	</div>
</body>

</html>